<p>oh what a lovely beachy beach this is</p>
<button data-character-id="maga">maga</button>
<button data-character-id="hippy">hippy</button>
<button data-character-id="gapyear">gapyear</button>
<button data-character-id="bigtequila">bigtequila</button>
<button data-character-id="lad1">lad1</button>
<button data-character-id="lad2">lad2</button>
<button data-character-id="lad3">lad3</button>
<button data-character-id="lad4">lad4</button>
<button data-character-id="lad5">lad5</button>
<button data-character-id="lad6">lad6</button>
<button data-character-id="influencer1">influencer1</button>
<button data-character-id="influencer2">influencer2</button>
<button data-character-id="vicar1">vicar1</button>
<button data-character-id="vicar2">vicar2</button>
<button data-character-id="australian">australian</button>
<button data-character-id="mum">mum</button>
<button data-character-id="dad">dad</button>
<button data-character-id="kid1">kid1</button>
<button data-character-id="kid2">kid2</button>
<button data-character-id="kid3">kid3</button>


