<div class="scene">
<div class="prop prop--palm prop--palm1"><img src="/props/palmtree.png" alt="palm"/></div>
<div class="prop prop--palm prop--palm2"><img src="/props/palmtree.png" alt="palm"/></div>
<div class="prop prop--palm prop--palm3"><img src="/props/palmtree.png" alt="palm"/></div>
<div class="prop prop--sun"><img src="/props/sun.png" alt="sun"/></div>
<button class="character character--maga" data-character-id="maga"><img src="/cast/maga.png" alt="maga"/></button>
<button class="character character--hippy" data-character-id="hippy"><img src="/cast/hippy.png" alt="hippy"/></button>
<button class="character character--gapyear" data-character-id="gapyear"><img src="/cast/gapyear.png" alt="gapyear"/></button>
<button class="character character--bigtequila" data-character-id="bigtequila"><img src="/cast/bigtequila.png" alt="bigtequila"/></button>
<button class="character character--lad1" data-character-id="lad1"><img src="/cast/lad1.png" alt="lad1"/></button>
<button class="character character--lad2" data-character-id="lad2"><img src="/cast/lad2.png" alt="lad2"/></button>
<button class="character character--lad3" data-character-id="lad3"><img src="/cast/lad3.png" alt="lad3"/></button>
<button class="character character--lad4" data-character-id="lad4"><img src="/cast/lad4.png" alt="lad4"/></button>
<button class="character character--lad5" data-character-id="lad5"><img src="/cast/lad5.png" alt="lad5"/></button>
<button class="character character--lad6" data-character-id="lad6"><img src="/cast/lad6.png" alt="lad6"/></button>
<button class="character character--influencer1" data-character-id="influencer1"><img src="/cast/influencer1.png" alt="influencer1"/></button>
<button class="character character--influencer2" data-character-id="influencer2"><img src="/cast/influencer2.png" alt="influencer2"/></button>
<button class="character character--vicar1" data-character-id="vicar1"><img src="/cast/vicar1.png" alt="vicar1"/></button>
<button class="character character--vicar2" data-character-id="vicar2"><img src="/cast/vicar2.png" alt="vicar2"/></button>
<button class="character character--australian" data-character-id="australian"><img src="/cast/australian.png" alt="australian"/></button>
<button class="character character--mum" data-character-id="mum"><img src="/cast/mum.png" alt="mum"/></button>
<button class="character character--dad" data-character-id="dad"><img src="/cast/dad.png" alt="dad"/></button>
<button class="character character--kid1" data-character-id="kid1"><img src="/cast/kid1.png" alt="kid1"/></button>
<button class="character character--kid2" data-character-id="kid2"><img src="/cast/kid2.png" alt="kid2"/></button>
<button class="character character--kid3" data-character-id="kid3"><img src="/cast/kid3.png" alt="kid3"/></button>
</div>
